<html>
<head></head>
<body>
  <h1 id="the_num">No numbers received yet.</h1>

  <script src="assets/js/faye-browser-min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/rx.all.compat.min.js"></script>
  <script src="assets/js/application.js"></script>
</body>
</html>
